/*Inserta imagen al cuerpo */
html{
background-image: url("https://www.inesem.es/sites/default/files/deslizador_cursos/Curso-Superior-Incidentes-Auditoria-Seguridad-Informatica.jpg");
}
h1 {
  font-family: New Roman ;
    color: white;
    text-align: left;
    font-size: 55px;
  }
  h2 {
    font-family: left;
      color: gray 80%;
      text-align: left;
      font-size: 23px;
    }
h3{
    font-family: Aharoni ;
      color: white;
      text-align: left;
      font-size: 23px;
  }
h4{
      font-family: Aharoni ;
        color: white;
        text-align: left;
        font-size: 23px;
  }
  h5{
        font-family: Aharoni ;
          color: blue;
          text-align: left;
          font-size: 18px;
          background-color: white;
    }



  h6{
          text-align: left;

    }
